* {
    font-family: monospace;
}

.header-title {
    font-size: 35px;
    text-align: center;
}

.main-container {
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: auto;
}

.new-book-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 50%;
    margin: 20px auto;
}

.container {
    width: 100%;
}

#table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
}

.books {
    width: 100%;
}

.button-container {
    text-align: end;
}

.button-container>button {
    height: 20px;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
    margin: 2px 15px 2px 0;
}

.tr-bg {
    background-color: #c4c4c4;
}

td {
    padding: 0 0 0 10px;
}

#add-book {
    width: fit-content;
    margin-left: auto;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px #000;
}

input {
    border: 2px solid #000;
}