.main-container {
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.new-book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

#add-book {
    width: fit-content;
}